.container{
    width: 50%;
    border: black solid 2px;
    margin-bottom: auto;   
   
}

.form-label{
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
}

.btn-container {
    text-align: center;
}

.customer-order{
    height: 400px;
    width: 500px;
    background-color: rgba(111, 58, 75, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.milk, .flavor-container, .topping-container{
    text-decoration: underline;
    
}
.btn-primary{
    margin-top: 20px; 
    // width:20%
}

.points{
    font-size: xx-large;
    margin: 0 auto;
    text-align: center;
}

.coffee-title{
    letter-spacing: 2px;
}