.container{
    width: 50%
}

.btn-container {
    text-align: center;
}

.customer-order{
    height: 400px;
    width: 500px;
    background-color: rgba(111, 58, 75, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}