.container{
    width: 50%;
    border: black solid 2px;
    margin-bottom: auto;   
   
}

.form-label{
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
}

.btn-container {
    text-align: center;
}
.milk, .flavor-container, .topping-container{
    text-decoration: underline;
    
}
.btn-primary{
    margin-top: 20px; 
    // width:20%

}