<h1 class="text-center"> Coffee Order</h1>
<div class="container">
    <!-- reminder need onSubmit value  -->
    <form class="row coffeeForm" #coffeeForm="ngForm" (ngSubmit)="onSubmit(coffeeForm.valid)">

        <div class="customer-order" *ngIf="orderVisible">
            <h1>Hi! My name is {{customerOrder.name}}. I'd like:</h1>
            <p>
                A {{customerOrder.sizes}} coffee with {{customerOrder.shotCount}} shot<span
                    *ngIf="customerOrder.shotCount != 1">s</span> of espresso. <br>
                I also want <span *ngIf="customerOrder.sweetener != 'None'">{{customerOrder.sweetener}} as my
                    sweetener</span>
                <span *ngIf="customerOrder.milkType != 'None'"><span *ngIf="customerOrder.sweetener != 'None'">,
                    </span>{{customerOrder.milkType}} </span>
                <span *ngIf="customerOrder.flavor != 'None'"><span
                        *ngIf="customerOrder.sweetener != 'None' || customerOrder.milkType != 'None'">and </span>a pump
                    of {{customerOrder.flavor}}</span>...<br>
                <span *ngIf="customerOrder.topping != 'None'">Give me {{customerOrder.topping}} on top!</span><br>
                That's it!
            </p>
        </div>
        <button (click)="getRandomCoffee(); showOrder();">Get New Order</button>

        <h1 class="text-center"> Coffee Order</h1>
        <div class="container">
            <!-- reminder need onSubmit value  -->
            <form class="row coffeeForm" #coffeeForm="ngForm" (ngSubmit)="onSubmit(coffeeForm.valid)">
                <!-- Name form  -->
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name" value="" [(ngModel)]="createdOrder.name" require>
                
                <!-- Size form -->
                <label for="sizes" class="form-label">Size</label>
                <select class="form-select" name="size" id="size" [(ngModel)]="createdOrder.sizes" required>
                    <option *ngFor="let oz of sizes" value="{{oz}}">{{oz}}</option>
                </select>


                <!-- Shot form -->
                <label for="shotCount" class="form-label">How Many Shots</label>
                <select class="form-select" name="shotCount" id="shotCount" [(ngModel)]="createdOrder.shotCount">
                    <option *ngFor="let shot of shotCounts" value= {{shot}}>{{shot}}</option>
                </select>

                <!-- Sweetners form -->
                <label for="sweeteners" class="form-label">Any Sweetners ?</label>
                <select class="form-select" name="sweeteners" id="sweeteners" [(ngModel)]="createdOrder.sweetener">
                    <option *ngFor="let sweet of sweeteners" value="{{sweet}}">{{sweet}}</option>
                </select>

                <!-- Milk Form -->
                <div class="milk" style='text-align: center; padding-top: 20px;'> Milk Options
                    <div class="options">
                        <label *ngFor="let milk of milkTypes" style="padding-right: 20px;">
                            <input type="radio" name="milk" (click)="createdOrder.milkType = milk"
                                [checked]="milk === createdOrder.milkType">
                            {{milk}}
                        </label>
                    </div>
                </div>

                <!-- Flavor Form  -->
                <div class="flavor-container" style='text-align: center; padding-top: 20px;'>Flavors option
                    <div class="option">
                        <label *ngFor="let flav of flavors" style="padding-right: 20px;">
                            <input type="radio" name="flavors" (click)="createdOrder.flavor = flav"
                                [checked]="flav === createdOrder.flavor">
                            {{flav}}
                        </label>
                    </div>
                </div>
                <!-- Toppings -->
                <div class="topping-container" style='text-align: center; padding-top: 20px;'> Topping option
                    <div class="options">
                        <label *ngFor="let top of toppings" style="padding-right: 20px;">
                            <input type="radio" name="toppings" (click)="createdOrder.topping = top"
                                [checked]="top === createdOrder.topping">
                            {{top}}
                        </label>
                    </div>
                </div>
                <!-- Submit Button -->
                <button class="btn btn-primary" type="submit" [disabled]="coffeeForm.invalid">Submit form</button>


            </form>
        </div>


        <!-- <button (click)="compareOrders()">Click me!</button> -->
        <div>Points: {{points}}</div>